# Name : Muhammad Irtaza
PIAIC NUMBER : PIAIC74392
Submitted to : Sir Qasim 
Location : Bahria auditorium
Time slot : 12:15 - 3:15

In [27]:
#PEMDAS
5 + 10 - (110 + 15) / 5**2 + 40 - (55 + 65) / (52 - 46) - 50 + (10 / 5) * 9 + (19 * 5 - 47) 
# 5 + 10 - (125) / 5 ** 2 + 40 - (120) / (6) - 50 + (2) * 9 + (48)
# 5 + 10 - 125/5**2 + 40 - 120/6 - 50 + 2*9 + 48
# 5 + 10 - 125/25 + 40 - 120/6 - 50 + 18 + 48
# 5 + 10 - 25 + 40 - 20 - 50 + 18 + 48
# 5 + 10 + 40 + 18 + 48 - 50 - 20 - 5
# 121 - 75
# 46.0

46

In [30]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [33]:
#STRING .FORMAT
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 2373))

txt1 = "My name is {fname}, I'am {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'am {1}".format("John",36)
txt3 = "My name is {}, I'am {}".format("John",36)

print (txt1)
print (txt2)
print (txt3)

For only 2373.00 dollars!
My name is John, I'am 36
My name is John, I'am 36
My name is John, I'am 36

In [37]:
#find()

#word index to be found is fun
txt = "Hello, welcome to my funland resort."

x = txt.find("fun")

print(x)

txt = "Lets go to a nice party."

x = txt.find("e", 5, 10) # text range from index 5 to 10

print(x)

21
-1

In [45]:
#expandtabs()
#The expandtabs() method sets the tab size to the specified number of whitespaces.
txt = "F\tl\to\tw\te\tr"

x =  txt.expandtabs(10)

print(x)

F         l         o         w         e         r

In [46]:
#Endswith()
#The endswith() method returns True if the string ends with the specified value, otherwise False.

txt = "I am coding Python,"

x = txt.endswith(".")

print(x)

False

In [49]:
#encode()
#The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

txt = "My name is St√•le"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [50]:
#count()
#use to count number of words appreance in the string

txt = "I hate mangoes, apple is my favorite fruit and apple fell on Newton, I really wish it would have been watermellon instead of an apple"

x = txt.count("apple")

print(x)

3

In [61]:
#center
#aligns center within the specified character space

txt = "Computer"

x = txt.center(60)

print(x)


txt1 = "Computer"

x1 = txt1.center(60,"O")

print(x1)

                          Computer
OOOOOOOOOOOOOOOOOOOOOOOOOOComputerOOOOOOOOOOOOOOOOOOOOOOOOOO

In [62]:
#casefold()
#lowercase conversion
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [63]:
#capitalize()

txt = "Hello, And Welcome To My World!"

x = txt.capitalize()

print(x)

Hello, and welcome to my world!

In [66]:
#index()

txt = "I am going to welcome you all"

x = txt.index("welcome")

print(x)

14

In [ ]:
#isalnum()
#isalphanumaric or not
txt = "Company12"

x = txt.isalnum()

print(x)

In [ ]:
#isalpha()
#is alphabet or not

txt = "CompanyX"

x = txt.isalpha()

print(x)

In [67]:
#isdecimal()
#is decimal number or not

txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

In [ ]:
#isdigit()

txt = "50800"

x = txt.isdigit()

print(x)

In [68]:
#isidentifier()
#The isidentifier() method returns True if the string is a valid identifier, otherwise False.
txt = "Demo/)Oxy*-34"

x = txt.isidentifier()

print(x)

False

In [ ]:
#islower()

txt = "hello world!"

x = txt.islower()

print(x)

In [ ]:
#isnumeric()

txt = "565543"

x = txt.isnumeric()

print(x)

In [69]:
#isprintable()
#The isprintable() method returns True if all the characters are printable, otherwise False.


txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [ ]:
#isspace()

txt = "   "

x = txt.isspace()

print(x)

In [71]:
#istitle()
#The istitle() method returns True if all words in a text start with a upper case letter, 
#AND the rest of the word are lower case letters, otherwise False.

txt = "Really! Is it a title"

x = txt.istitle()

print(x)

False

In [72]:
#isupper()
#Checks all uppercase
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [74]:
#join()

myTuple = ("John", "Peter", "Vicky")

x = "MahaRaj".join(myTuple)

print(x)

JohnMahaRajPeterMahaRajVicky

In [76]:
#ljust()
#The ljust() method will left align the string, using a specified character (space is default) as the fill character.
txt = "banana"

x = txt.ljust(20,"X")

print(x, "is my favorite fruit.")

bananaXXXXXXXXXXXXXX is my favorite fruit.

In [77]:
#lower()
#converts all the lowercase from uppercase

txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [78]:
#lstrip()
#remove all the white spaces on the left

txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [79]:
#upper()
#converts to uppercase

txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [ ]:
#title()
#converts string to title tag- initial of every alphabet capital
txt = "Welcome to my world"

x = txt.title()

print(x)

In [80]:
#swapcase()
#makes uppercase lower and viceversa

txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [ ]:
#strip()
#removes spaces from end and the begining of the text

txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

In [82]:
#startswith()
#Checks if string starts with the word or character or not

txt = "Hello, welcome to my world."

x = txt.startswith("Helo")

print(x)

False

In [ ]:
#splitlines()
#Split a string into a list where each line is a list item:

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

In [ ]:
#Split()
#Split a string into a list where each word is a list item:

txt = "welcome to the jungle"

x = txt.split()

print(x)

In [83]:
#rstrip()
#Remove spaces to the right of the string:

txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [ ]:
#Split()
#Split a string into a list, using comma, followed by a space (, ) as the separator:

txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

In [ ]:
#rpartition()

#Search for the last occurrence of the word "bananas", and return a tuple with three elements:

#1 - everything before the "match"
#2 - the "match"
#3 - everything after the "match"

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

In [84]:
#rjust()
#Return a 20 characters long, right justified version of the word "banana":

txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [85]:
#rindex()
#Where in the text is the last occurrence of the string "casa"?:

txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [86]:
#rfind()
#Where in the text is the last occurrence of the string "casa"?:

txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [ ]:
#replace()

#Replace the word "bananas":

txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

In [ ]:
#partition

#Search for the word "bananas", and return a tuple with three elements:

#1 - everything before the "match"
#2 - the "match"
#3 - everything after the "match"

txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)